.button {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-color: #2675b5;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: innershadow(gaussian, #175385, 10, 0, 0, 0);
}