.button {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: white;
    -fx-font-family: "Courier New";
    -fx-border-width: 2;
}
.button:hover {
    -fx-effect: dropshadow(gaussian, #ffffff, 20, 0, 0, 0);
    -fx-cursor: hand;
}