* {
    -fx-font-size: 14px;
}

.errorBox {
    -fx-background-color: #ffe6e6;
    -fx-padding: 10px;
    -fx-max-width: 300px;
    -fx-border-radius: 3px;
}

.errorTitle {
    -fx-font-weight: bold;
}