.button {
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-border-color: #bdbdbd;
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: innershadow(gaussian, #f0f0f0, 10, 0, 0, 0);
}